@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.texto {
  @apply bg-red-500 p-5;
  @apply hover:bg-purple-500;
}

.campo-texto {
  @apply bg-gray-500 p-1;
  @apply rounded-md;
}

button {
  @apply bg-blue-500 p-4;
  @apply rounded-md hover:bg-blue-300;
}
