@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {

  .caixa {
    @apply px-4 py-2 rounded-md;
    @apply bg-orange-400 text-white;
  }
  
  .btn {
    @apply px-4 py-2 rounded-md;
  }

  .btn-sucesso {
    @apply bg-green-400 hover:bg-green-300;
  }

  .btn-info {
    @apply bg-orange-400 hover:bg-orange-300;
  }

  .btn-erro {
    @apply bg-red-400 hover:bg-red-300;
  }
}
