.vermelho {
    background-color: red;
}

.alterar{
    background-color: orange;
    color: green
}

div#itens {
    background-color: aquamarine;
}

.laranja{
    background-color: orange;
}

.texto {
    color: white;
}